<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotFinder"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.spotfinder.ui.settings.SettingsActivity" />
        <activity android:name="com.example.spotfinder.ui.map.MapActivity" />
        <activity android:name="com.example.spotfinder.ui.edit.EditLocationActivity" />
        <activity android:name="com.example.spotfinder.ui.locations.LocationsActivity" />
        <activity android:name="com.example.spotfinder.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
